@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");

.App {
  font-family: "Inconsolata", monospace;
  background-color: #11090a;
  text-align: center;
}

.App-header {
  background-color: #ff000052;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  font-weight: 1000;
}

.recordImg {
  width: 50%;
  height: 75%;
  border-radius: 10%;
  opacity: 80%;
}

.Sign-in-button {
  color: white;
  background-color: #ff000036;
  border: 2px solid #ff000052;
  margin-top: 24px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Inconsolata", monospace;
  font-size: 22px;
  letter-spacing: 1px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.Sign-in-button:hover {
  background-color: white;
}

.Sign-out-button {
  color: white;
  text-align: left;
  background-color: #ff000036;
  border: 2px solid #ff000052;
  margin-top: 24px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Inconsolata", monospace;
  font-size: 22px;
  letter-spacing: 1px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.Sign-out-button:hover {
  background-color: black;
}

body {
  background-color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
